/* GENERAL */
html {
    font-size: 16px;
}
head {
    background-color: whitesmoke;
}
body {
    background-color: whitesmoke;
}
a {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
}
h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}
h2 {
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}
h3 {
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}
h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}
h5 {
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}
h6 {
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}
a:hover, a:visited {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
}
p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
}
p a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
}
li {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
}
.grid-container {
    background-size: cover;
    background-color: whitesmoke;
    margin: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
table, th, td {
    border-style:groove;
    border-color: #232323;
  }
/* For the photo row on the fun page */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.25rem;
}
/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 0.25rem;
}
.column img {
  margin-top: 0.5rem;
  vertical-align: middle;
}
/* NAV */
.button {
    background-color: #232323;
}
.button:hover, .button:focus {
    background-color: rgb(26, 84, 113);
}
.off-canvas {
    background-color: #232323;
}
.off-canvas-content {
    background-size: cover;
}
.top-bar {
    background-size: cover;
    height: 110%;
}


