<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="wideth=device-width, initial-scale=1.0">
        <title>State</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
        <link rel="stylesheet" href="/css/foundation.css">
        <link rel="stylesheet" href="/css/my.css">

        <script type="application/javascript">

        </script>
    </head>
    <body>
        <div class="off-canvas-wrapper">
            <!-- Your menu or Off-canvas content goes here -->
            <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
                <!-- Menu -->
                <ul class="vertical menu">
                    <li><a href="/national/2019" target="_self" class = "button">National</a></li>
                    <li><a href="/state/Alabama" target="_self" class = "button">State</a></li>
                    <li><a href="/county/1001" target="_self" class = "button">County</a></li>
                </ul>
            </div>
            <div class="off-canvas-content" data-off-canvas-content>
                <div class="top-bar" style="background-color: #232323">
                    <div class="top-bar-left">
                        <button class="menu-icon" data-toggle="offCanvasLeft" type="button"></button> 
                        <span style="color: whitesmoke"></span>
                    </div>
                </div>
            <!-- Your page content lives here -->
            <div class="off-canvas-content" data-off-canvas-content>
                <!-- main content within a `grid-container` -->
                <div class="grid-container">
                    <!-- `grid-x` represents a row -->
                    <div id="content", class = "grid-x grid-paddingx-x">
                        <div class="cell small-6 large-6">
                            <img id="county_map" src="%%STATE_IMAGE%%" alt="%%STATE_ALT_TEXT%%">
                            <h1 id="data_name">%%DATA_NAME%%</h1>
                            <table>
                                <thead>
                                    <tr>
                                        <th class="state_data">Fips</th>
                                        <th>State</th>
                                        <th>Year</th>
                                        <th>Temperature (Fahrenheit)</th>
                                        <th>Temperature (Celsius)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    %%TABLE_INFO%%
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- include before closing <body> tag -->
            <script src="/js/vendor.js"></script>
            <script src="/js/foundation.js"></script>
            <script type="application/javascript">
                $(document).foundation();
            </script>
    </body>
</html>